<h3>Carrinho</h3>

<p>
  <a routerLink="/shipping" >Preços de Envio</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>
<form
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit(checkoutForm.value)"
>
  <div>
    <label for="nome">Nome</label>
    <input id="nome" type="text" formControlName="nome">
  </div>
  <div>
    <label for="endereco">Endereço</label>
    <input type="text" name="endereco" id="endereco">
  </div>
  <button class="button" type="submit">Pagar</button>
</form>
